<IfModule mod_rewrite.c>
    RewriteEngine on

    # add all files and folders to exclude from Collide MVC redirect
    #RewriteCond $1 !^(folder1|file1.\ext|folder2)

    # redirect to public folder
    RewriteRule (.*) app/public/$1 [L]
</IfModule>
